.overskrift {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    padding: 20px;
}

.design2underoverskrift {
    position: relative;
    top: 20px;
    left:100px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.design2text {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 35%;
    font-size: 20px;
}

.video {
    position: relative;
    top: 30px;  
    left: 725px
}

