#footerBar{
    background-color: #073B4C;
}

#buttomFooter {
    background-color:#3d6f8c ;
    color:#073B4C;
  
}


a {
    color: #FEFBEB;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

a:hover {
    color: #3d6f8c ;
}


.list {
    display: inline;
    padding-left: 9%;
    padding-right: 9%;
    width: 30px;
    bottom: 0px;
    max-height: fit-content;
}

.footerRow{
    width: 100%;
}
.text-md-list{
    text-align: center; 
}

ul {
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding-top: 15px;
}