.body{
    margin: 0;
}

.header-img {
    width: 100%;
    height: 400px;
    left: 0;
    background: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
    background-size: cover;
  }

.footer{
    background-color: #073B4C;
    height: 100px;
    width: 100% !important;
    left: 0;
    position: sticky; 
    bottom: 0; 
    color: #FEFBEB!important;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.grid-container{
    display: grid;
    align-items: center;
    grid-gap: 50px;
    text-align: center;
}

.grid-item{
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.container{
    margin: 0;
    padding: 0;
    width: 100% !important;
}

.overskrift{
    font-size: larger;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-text{
    margin-left: 15px;
}