.body{
    margin: 0;
    overflow: scroll !important;
    font-family: 'Lato', sans-serif;
    
}

.banner{
    width: 100%;
    height: auto;
    margin: 0px;
  }



.grid-container{
    display: grid;
    align-items: center;
    grid-gap: 50px;
    text-align: center;

}

.grid-item{
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.container{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100%;
}

.overskrift{
    font-size: larger;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif !important;
}

.tomBox{
    height: 150px;
}

#guideKnap{
    margin-right: 50%;
}
.main-text{
    margin-left: 55%;
    width: 40%;
    display: flex;
    justify-content: right;
    line-height: 20px;
    
}