.overskrift {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    padding: 20px;
   
}

.underoverskrift {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.oplysninger {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rubrik {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
}

.dineoplysninger {
    margin: 30px;
    margin-bottom: 60
    px;
}

.profilredigering {
    padding: 10px;
}

.styles_Editext__buttons_container__1kphL {
 float: right !important;
 

}
.styles_Editext__view_container__2l2kB {
background-color: #073b4c;
color: #FEFBEB!important;
margin-top: 5px;
margin-bottom: 20px;
padding: 5px;
width: auto;
float: right;
display: block;


}

.body {
    background-color: #FEFBEB;
    margin: 0px;
    padding: 0px;
}

.MuiButton-root {
margin-top: 20px !important;
background-color: #073b4c !important;
color: #FEFBEB !important;
width: auto;
}