
h1 {
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.MuiFormControl-root {
    float: center !important;
    display:grid !important;
    margin-top: 60px !important;
}

.MuiTextField-root {
    text-align: center !important;
}

.MuiInputLabel-formControl {
    position: absolute !important;
    text-align: center !important;
  
}

.MuiInput-underline:after {
    width: auto !important;
}

.MuiButton-root {
    margin-left: 600px !important;
    width: 300px !important;
}

