#overskrift {

    padding-top: 50px;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    text-align: center !important;
}



#NulstilKode {
    
   margin-top: 40px !important; 

}

.content {
    margin-bottom: 150px !important;
    overflow: scroll !important;
    font-family: 'Lato', sans-serif;
    position: relative !important;
    display: inline-block;
    height: 700px !important;
    width: 100% !important;
}

