
.makeStyles-avatar-3 {
    background-color: #073b4c !important;
}

h1 {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: #CBBFBB !important;
    margin-bottom: 50px;
}

.MuiOutlinedInput-input:-webkit-autofill {
    width: 390px !important;
    background-color: #CBBFBB !important;
    color: #CBBFBB  !important;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

.PrivateNotchedOutline-legendNotched-9 {
    max-width: 0px !important;
    
}

.MuiAvatar-colorDefault {
    background-color: #073b4c !important;
}