.makeStyles-avatar-2 {
    background-color: #073b4c !important;
}

.MuiAvatar-colorDefault {
    background-color: #073b4c !important;
}

.classes-paper{
    border-bottom: 100px;
}

.signUpContent{
    margin-bottom: 150px !important;
    font-family: 'Lato', sans-serif;
    position: relative !important;
    display: inline-block;
    height: 1000px !important;
    width: 100% !important;
}

.nav-text .nav-link{
    color:beige !important;
    font-weight: bold !important;
    font-family: 'Lato', sans-serif !important;
}


