.step {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: white;
  }
  
  .completed {
    background-color: green;
  }