
.flip-card {
  background-color: transparent;
  width: 170px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 20px;
  padding-right: 10px !important;
}

.flip-card-inner {
  margin: 15px;
  
  flex-basis: auto;

  position: flex !important; 
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.steptitel{
  padding-top: 20px;
  padding-bottom: 15px;
  color: #073B4C;
}

.step {
  text-align: center;
  color: #3d6f8c;
  font-size: x-large;
  line-height: 40px;
  font-weight: bold;
}

.completed{
  background-color: #8CBFA7;
  
}
.flip-card-back {
  background-color: #3d6f8c;
  color: #FEFBEB;
  transform: rotateY(180deg);
}

.titel{
  padding-top: 20px;
}



/*
.step {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
 
    text-align: center;
    background-color: white;
    line-height: 50px;
    margin-right: 50px !important;
  }
  
  .completed {
    background-color: #90CBA3;
  }
  */