.stepper {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px !important;

  }
  
  .stepper > .step {
    margin: 0 8px;
  }