

.overskrift {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    padding: 20px;
   
}

body {
    background-color: #CBBFBB !important;
    margin-bottom: 50px;
}


.stepsContainer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stepsInfo {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: large;
    color: #073B4C;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
}

.stepper {
    padding-right: 10px;
}

.MuiLinearProgress-barColorPrimary{
    background-color: #88B2AB !important;
}

.MuiLinearProgress-colorPrimary{
    background-color: #B0BFB5 !important;
    height: 8px !important;
}

.MuiTypography-colorTextSecondary{
    color: #073B4C !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder !important;
    font-size: medium !important;
}

.welcome{
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder !important;
    font-size: medium !important;
    padding-left: 50px;
    padding-right: 50px;
    color: #073B4C;
    line-height: 20px;
}