

.overskrift {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    padding: 20px;
   
}

body {
    background-color: #CBBFBB !important;
    margin-bottom: 50px;
}

.stepsContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}


